body {
  /* background-color: antiquewhite; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* line-height: 1.5; */
  /* letter-spacing: 3px; */
  /* padding: 20px; */

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.note {
  font-style: italic;
}

.content {
  line-height: 1.5;
}

.highlight {
  font-weight: bold;
}

/* .image {
  padding: 0px;
} */
